* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0px 15px;
    
}

.nav-list {
    list-style: none;

}

.nav-list li {
    display: inline-block;
    padding: 0px 20px;
    
}

.nav-list li a{
  text-decoration: none;
  color: white;  
  font-size: 30px;  
}

.nav-list li a:hover {
    text-decoration:underline;
    color: greenyellow;
  }

.logo {
    width: 8%;
    height: 8%;
}

#inicio {
    background: greenyellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0px auto;
    width: 100%;
    height: 100vh;
}

#inicio h1 {
    font-size: 5rem;
}

#inicio h2 {
    font-size: 2rem;
}

#inicio p {
    width: 80%;
    height: 20%;
    padding: 3px;;
    margin: 30px auto;
    font-size: 1.3rem;
}

.inicio-img img {
    padding: 40px;;
    margin: 40px auto;
    width: 100%;
    height: auto;
}

button {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 37px;
    margin-top: 15px;
	text-decoration:none;
	text-shadow:0px 1px 1px #810e05;
}
button:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
button:active {
	position:relative;
	top:1px;
}

/* Inicio seccion Nosotros */
#nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.nosotros_container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin: 25px  auto;

}

.nosotros_container p {
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    padding: 40px 200px;
    margin: 25px  auto;
    font-style: italic;

}


/* FIN seccion Nosotros */


 /* Inicio section Servicios */
 #servicios {
     background: greenyellow;
     width: 100%;
     padding: 80px 10px;
     
    
     
 }

 .servicios_titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .servicios_titulos h2{
    font-size: 3rem;
    margin: 30px  auto;
    text-align: center;
 }

 .servicios_titulos p{
    font-size: 2rem;
    margin: 15px  auto;
 }

 .servicios_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /*margin: 40px auto;*/;
     
 }

 .servicios_detalle {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 40px;
    
 }


 .servicios-img {
     width: 200px;
     height: 200px;

 }

 .servicios_detalle h5{
    margin: 35px;
    font-size: 20px;
    text-align: center;
   
}

.servicios_detalle p{
    
    font-size: 20px;
    font-style: italic;
    text-align:justify;
   
}

/* Fin section Servicios */

/* Inicio section Mas Servicios */
#mas_servicios {
    background: white;
    width: 100%;
    padding: 80px 10px;
   
}

.mas_servicios_titulos {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.mas_servicios_titulos h2{
   font-size: 3rem;
   margin: 30px  auto;
   text-align: center;
}

.mas_servicios_titulos p{
   font-size: 2rem;
   margin: 15px  auto;
}

.mas_servicios_container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   /*margin: 40px auto;*/;
    
}

.mas_servicios_detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
   
}

.mas_servicios_detalle h5{
   margin: 35px;
   font-size: 20px;
   text-align: center;
  
}

.mas_servicios_detalle p{
   
   font-size: 20px;
   font-style: italic;
   text-align:justify;
  
}

/* Fin section Mas Servicios */


 /* Inicio section clientes */
 #clientes {
    background: greenyellow;
    width: 100%;
    padding: 80px 10px;
}

.clientes_titulos {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.clientes_titulos h2{
   font-size: 3rem;
   margin: 70px  auto;
   text-align: center;
}

.clientes_titulos p{
    font-size: 1.8rem;
    margin: 15px  auto;
    text-align: center;
}

.clientes_container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   flex-wrap: wrap;
}

.clientes_detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

/* Fin section clientes */

/* Inicio seccion Contacto */
.item1 { grid-area: contacto; }
.item2 { grid-area: detalle_1; }
.item3 { grid-area: detalle_2; }
.item4 { grid-area: redes; }
.item5 { 
    grid-area: logo; 
    background-color: black;
}
.item6 { grid-area: imagen; }

.contactos_container {
    display: grid;
    grid-template-areas:
    'contacto contacto contacto contacto imagen imagen'
    'detalle_1 detalle_1 detalle_2 detalle_2 imagen imagen'
    'detalle_1 detalle_1 detalle_2 detalle_2 imagen imagen'
    'redes redes redes redes imagen imagen'
    'logo logo logo logo logo logo';
    gap: 10px;
    background-color: white;
    /*padding: 10px;*/
}

.contactos_container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}



#mapa {
    width: 700px;
    height: 600px;
}

#logo_neonDB {
    width: 90px;
    height: 90px;
}

/* Fin seccion Contacto */


/* Inicio media */

@media (max-width: 850px) {

    html {
      font-size: 80%;
    }
    /* inicio Header */
    header {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        padding: 0px 15px;
    
    }

    .nav-list li {
        display: flex;
        flex-direction: center;
        align-items: center;
        margin: 10px;;
        padding: 0px 20px;
        
    }
    
    .nav-list li a{
       font-size: 30px;
         
    }
    /* Fin Header */

    /* Inicio section Inicio */
    #inicio {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

   .inicio-img  {
        /*margin: 40px auto;*/
        /*width: 380px;*/
        height: 260px;
    }

    .inicio-img img {
        /*margin: 40px auto;*/
        width: 100%;
        height: auto;
    }

    /* fin section Inicio */

    /*  seccion Nosotros */

    #nosotros {
        margin-top: 40px;
    
    }
    .nosotros_container p {
        padding: 50px 80px;
        margin: 20px  auto;
    
    }

    .nosotros_container h2 {
        font-size: 4rem;
    
    }

    /* fin section Nosotros */

    /* Inicio section Servicios */
    #servicios {
        display: flex;
        flex-direction: column;
        
    }

    .servicios_container {
        display: flex;
        flex-direction: column;
    }

    .servicios_detalle {
        display: flex;
        flex-direction: column;
    }

    .servicios_titulos p {
        font-size: 1.8rem;
        text-align: center;
        margin: auto 30px;
    }

    /* fin section Servicios */

    /* Inicio section Mas Servicios */
    #mas_servicios {
        display: flex;
        flex-direction: column;
        
    }

    .mas_servicios_container {
        display: flex;
        flex-direction: column;
    }

    .mas_servicios_detalle {
        display: flex;
        flex-direction: column;
    }

    .mas_servicios_titulos p {
        font-size: 1.8rem;
        text-align: center;
        margin: auto 30px;
    }

    /* fin section Mas Servicios */

/* Inicio section clientes */
#clientes {
    display: flex;
    flex-direction: column;
        
}

.clientes_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.clientes_detalle {
    display: flex;
    flex-direction: column;
}

.clientes_titulos p {
    /*font-size: 1.8rem;*/
    text-align: center;
    /*margin: auto 30px;*/
}

/* fin section clientes */


}
/* Fin media */